<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

        <nav class="nav navbar navbar-expand-md navbar-light bg-light fixed-top">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-text">Menu</span>
            </button>
            <div class="collapse navbar-collapse" id="collapse_target">
                <a class="navbar-brand"><img style="width: 37px" src="http://1.bp.blogspot.com/_A4BjFNAfyxk/TS0B2CFvccI/AAAAAAAAAAM/X4-wkoSHvEY/s1600/Cool%2BLogo.JPG" /></a>
                <span class="navbar-text">EduBrainz</span>
                <ul class="navbar-nav nav ">
                                        @*<li class="nav-item">
                <a class="nav-link" href="#"></a>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">Students</a>
                <span class="caret"></span>
                <div class="dropdown-menu" aria-labelledby="dropdown_target">
                       <a class="dropdown-item" href="#" data-toggle="modal" data-target="#myModal">search for student</a>
                    <a class="dropdown-item" href="#">All Students</a>
                    <div>
                        <div>
                            @Html.ActionLink("EduBrainz", "Index", "Home", new { @class = "dropdown-item" })
                            <a href="@Url.Action("Index", "Single", new { @class = "btn btn-primary"})">Register Your Kid</a>
                            @Html.ActionLink("See all Lockers", "Index", "Locker", new { @class = "dropdown-item" })
                        </div>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
        </ul>*@
                @*<ul class="nav navbar-nav position-fixed"*@

                 
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                  
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("RegisterChild", "Register", "ChildRegistration")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>


                    @*<li><a href="@Url.Action("Index", "WebExperienceProfiles")">Web Experience Profiles</a></li>*@
                    @*<li><a href="@Url.Action("Index", "Single")">Register Your Kid</a></li>*@
                </ul>
            </div>
            
          
        </nav>
  
   
    <div class="nav" style="margin: 15px;">
       
            @*<div class="navbar-collapse collapse">*@
             
        </div>
    @Html.Partial("_LoginPartial")
                  
</div>

    <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal">search for student</a>

    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Search for Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
               
                    @Html.Label("Student") <br />   <input id="myInput" type="text" placeholder="Type a student name" class="form-control"  autofocus>             
                   </div>
                <div class="modal-footer modal-sm">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>

        </footer>
    </div>
  

    
           @Scripts.Render("~/bundles/jquery")
          @Scripts.Render("~/bundles/bootstrap")
          @RenderSection("scripts", required: false)
</body>
</html>
@section scripts
{
    <script>


        var SendEmail = function () {
            $.ajax({
                type: "POST",
                Url: "",
                success: function () {

                    alert("sucessfully sent an email")
                }


            })


        }
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus();
            $(this).find(".modal-body :input:visible:first").focus();
        })
    </script>
    }

